@{
    ViewData["Title"] = "Get to Know Joel";
}
@*
    Displays a list of all movies in the database.
    Shows related category information using EF Core navigation properties.
*@

<div class="row g-4 align-items-start">
    <div class="col-lg-5">
        <h1 class="mb-3">Get to Know Joel</h1>

        <div class="list-group">
            <a class="list-group-item list-group-item-action"
               href="https://www.qwcomedy.com/" target="_blank" rel="noopener noreferrer">
                Quick Wits Comedy
            </a>

            <a class="list-group-item list-group-item-action"
               href="https://baconsale.com/" target="_blank" rel="noopener noreferrer">
                Baconsale
            </a>
        </div>

        <p class="text-muted mt-3">
            Weekly podcast about films & pop culture.
        </p>
    </div>

    <div class="col-lg-7">
        <a href="https://baconsale.com/" target="_blank" rel="noopener noreferrer">
            <img src="~/img/baconsale.jpg" alt="Baconsale" class="img-fluid rounded shadow" />
        </a>
    </div>
</div>